@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
margin: 0;
padding:0;
box-sizing: border-box;
text-decoration: none;
}


.btn{ /*créer la forme du bouton + la typo*/
    color:black;
    padding: 11px 21px;
    display: inline-block;
    text-decoration: none;
    padding: 11px 21px;
    font-family: "Inter"; sans-serif;
}

.vert{
    background-color: #61ff7b;
    border-radius: 50px;
    font-weight: 500px;

}

.bleu{
    background-color:#1398a0;
    color: white;
    border-radius: 10px;
    
}

.bordure{
    border-radius: 0px 20px;
}

.bold {
    font-weight: 700;
}

.regularWhite {
    font-weight: 100;
}

.solid {
    border:5px solid black;
}

.dashed{
    border: 5px dashed black;
}

div{
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 2px 15px rgb(158, 156, 156);
    width: 300px;
    padding: 11px 21px;
}

.img{
    border-radius: 8px;
width: 100%;
}

.pad{
    margin-bottom: 15px;
}

.carte{
    font-family: "Inter"; sans-serif;
}

header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0px 200px;
    border-bottom: solid 1px black;
}

nav {
    width: 50%;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.logo{
    width: 200px;
}
a{
    text-decoration: none;
    color: black;
}

a:hover {
    color: red;
}